@use '../../../../padre/styles/variables' as *;
@use '../../../../padre/styles/mixins' as *;

.boton {
  @include button-base;
  position: relative;
  
  &-full-width {
    width: 100%;
  }
  
  // Variants
  &-primary {
    background-color: $color-primary;
    color: $text-light;
    
    &:hover:not(:disabled) {
      background-color: $color-primary-dark;
      transform: translateY(-2px);
      box-shadow: $shadow-md;
    }
  }
  
  &-secondary {
    background-color: $color-secondary;
    color: $text-light;
    
    &:hover:not(:disabled) {
      background-color: $color-secondary-dark;
      transform: translateY(-2px);
      box-shadow: $shadow-md;
    }
  }
  
  &-outline {
    background-color: transparent;
    color: $color-primary;
    border: 2px solid $color-primary;
    
    &:hover:not(:disabled) {
      background-color: $color-primary;
      color: $text-light;
    }
  }
  
  &-text {
    background-color: transparent;
    color: $color-primary;
    box-shadow: none;
    
    &:hover:not(:disabled) {
      background-color: rgba($color-primary, 0.1);
    }
  }
  
  &-danger {
    background-color: $color-error;
    color: $text-light;
    
    &:hover:not(:disabled) {
      background-color: darken($color-error, 10%);
      transform: translateY(-2px);
      box-shadow: $shadow-md;
    }
  }
  
  // Sizes
  &-sm {
    padding: $spacing-xs $spacing-md;
    font-size: $font-size-sm;
    
    .boton-icon {
      font-size: $font-size-sm;
    }
  }
  
  &-md {
    padding: $spacing-sm $spacing-lg;
    font-size: $font-size-base;
    
    .boton-icon {
      font-size: $font-size-base;
    }
  }
  
  &-lg {
    padding: $spacing-md $spacing-xl;
    font-size: $font-size-lg;
    
    .boton-icon {
      font-size: $font-size-lg;
    }
  }
  
  // Loading State
  &-loading {
    pointer-events: none;
  }
  
  &-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  &-content {
    transition: opacity $transition-base;
    
    &-hidden {
      opacity: 0;
    }
  }
  
  // Icon
  &-icon {
    display: inline-flex;
    align-items: center;
    
    &-left {
      margin-right: $spacing-sm;
    }
    
    &-right {
      margin-left: $spacing-sm;
    }
  }
  
  // Disabled State
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none !important;
  }
}

// Responsive
@include mobile {
  .boton {
    &-sm {
      padding: $spacing-xs $spacing-sm;
    }
    
    &-md {
      padding: $spacing-sm $spacing-md;
    }
    
    &-lg {
      padding: $spacing-md $spacing-lg;
    }
  }
}
