:host {
  display: flex;
  align-items: center;
}

.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-btn {
  border: none;
  background: transparent;
  cursor: pointer;

  img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
  }
}

/* Menu */
.user-menu {
  position: absolute;
  right: 0;
  top: 48px;

  width: 150px;

  background: #ffffff;
  border: 1px solid #e5eaf1;
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0,0,0,.08);

  padding: 10px;
  display: none;
}

.profile-wrapper:hover .user-menu {
  display: block;
}
